.react-simple-keyboard {
    width: 500px !important;
}

.keyboard-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 10px;
}

.keyboard-key {
    width: 20px;
    height: 20px;
    border: 0.1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 05px;
    cursor: pointer;
}